.blog-app {
  text-align: center;
  background: linear-gradient(#2f2f2f, #2f2f2f), linear-gradient(#eee, #eee);
  background-size: 100% 150px, 100% 94px;
  background-repeat: no-repeat;
  background-position: 0px 0px, bottom;

  .page {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    width: 980px;
    height: 100%;
  }

  main {
    flex: 1;
  }

  footer {
    display: flex;
    align-items: center;
    height: 94px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
  }
}
