.header{
  height: 150px;
  position: relative;
  background-color: #2f2f2f;

  .logo {
    font: normal normal bold 35px/1 raleway,sans-serif;
    //font-family: Verdana,marzo-w00-regular,fantasy;
    font-family: marzo-w00-regular,fantasy;
    color: #e8e8e8;
    position: absolute;
    bottom: 26px;
    left: 0px;
    text-align: left;

    .status-text {
      color: #8f8c80;
      font-size: 16px;
      font-family: raleway, sans-serif;
      margin-top: 17px;

      .status {
        color: #cf1475;
        font-weight: 400;
      }
    }
  }

  .nav-item {
    color: rgb(143, 143, 143);

    .menu-list {
      opacity: 0;
      z-index: -1;
    }

    &:hover {
      color: #F10A7A;

      .menu-list {
        opacity: 1;
        z-index: 2;
      }
    }

  }

  nav {
    display: flex;
    font-family: "open sans", sans-serif;
    position: absolute;
    bottom: 23px;
    right: 0px;
    font-size: 15px;
    line-height: 30px;

    .item {
      margin: 0 10px;
      cursor: pointer;
      transition: all 0.4s;
      position: relative;

      .menu-list {
        position: absolute;
        top: 100%;
        left: 50%;
        transition: all 0.5s;
        background-color: rgba(255, 255, 255, 1);
        font: normal normal normal 15px/1.1em 'open sans',sans-serif;
        box-shadow: 0.5px 1px 2px 1px #ededed;
        transform: translateX(-50%);

        .menu-list-item {
          min-width: 152px;
          cursor: pointer;
          height: 100%;
          box-sizing: border-box;
          line-height: 30px;

          //&:hover {
          //  color: #F10A7A;
          //}
        }
      }



      //&:hover {
      //  .nav-item{
      //    color: #F10A7A;
      //  }
      //
      //  .menu-list {
      //    display: block;
      //  }
      //}
    }

  }
}



